
<style>
    .el-header, .el-footer {
      background-color: #B3C0D1;
      color: #333;
      text-align: center;
      line-height: 60px;
    }

    .el-aside {
      background-color: #D3DCE6;
      color: #333;
      text-align: center;
      line-height: 200px;
    }

    .el-main {
      background-color: #E9EEF3;
      color: #333;
      text-align: center;
      line-height: 160px;
    }

    body > .el-container {
      margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
      line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
      line-height: 320px;
    }
  
    .el-container{height: 100%; width: 100%}
  
    .el-pagination{margin-left: -10px; padding-top: 15px}
    body{padding:10px}
    .el-date-editor.el-input, .el-date-editor.el-input__inner{width:auto !important}
    #date{padding-right: 0px}
    html,body,#app{padding:0; margin:0; height:100%; background: #E9EEF3; font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
    .cclayout{width: 1024px;margin:auto}
    .el-header{padding: 0; background: rgb(84, 92, 100);}
    
    a{text-decoration: none}
    
    #mainMenu .el-link.el-link--info{ color:#FFF; margin-right: 25px}
    
    #userinfo a{margin-left: 10px}
    
    #userMenu a{line-height:50px}
</style>
</body>
</html>