{include file="public/header" /}
<div id="app">
    
        <el-header>
           {include file="public/menu" /} 
        </el-header>
        
        <el-row>
        <el-carousel indicator-position="inside" height="700px" >
            {volist name="banner" id="b" key="k" }
            <el-carousel-item>
                <a href="{$b.url}">
                    <img src="{$b.image_url}" style="width: 100%" />
                </a>
            </el-carousel-item>
            {/volist}
        </el-carousel>
        </el-row>    
            
            
            
            <div class="block block-block-content block-block-content7ba9a273-e4c8-48bb-a0e5-d1e41e6ccfd1 has-title">

                <section class="fullHightS scrollSection  hide-in-mobile" id="featureProject">    <component class="hide-in-mobile in-view" style="padding: 0">
                        <div class=" container-fluid  grid-box fourCol ">
                            <div class="row" id="projects-892701827">


                                <div class="col-xs-12 col-sm-4 box colfullH row-1">
                                    <a href="/home/category/6" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/images/20160704-7-11-resize-400x770-62b794e7ca-7376fb12af7d2eab.jpeg" class="imgH hidden-xs" alt="">
                                        <img src="/static/images/20160704-7-11-resize-640x614-62b794e7ca-d26b70260363c6c5.jpeg" class="imgH visible-xs-block" alt="">
                                    </a>
                                    <a href="/home/category/6" target="_blank" rel="noopener noreferrer">
                                        <div class="caption industry-icon" style="background-image: url(&quot;/sites/default/files/industries_icons/building-black.png&quot;);" data-whiteicon="/sites/default/files/industries_icons/building-white.png" data-blackicon="/sites/default/files/industries_icons/building-black.png">
                                            <p class="top textdesc">关于 · 我们</p>
                                            <p class="bottom textdesc">ABOUT US</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-xs-6 box colHalf row-1">
                                    <a href="/home/category/7" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/images/20200508111946-1-resize-400x385-62b794e7ca-aa4609e643e3e73d.jpeg" class="imgH hidden-xs" alt="">
                                        <img src="/static/images/20200508111946-1-resize-320x306-62b794e7ca-be3f6f7f44e20f16.jpeg" class="imgH visible-xs-block" alt="">
                                    </a>
                                    <a href="/home/category/7" target="_blank" rel="noopener noreferrer">
                                        <div class="caption industry-icon" style="background-image: url(&quot;/sites/default/files/industries_icons/bridge-black.png&quot;);" data-whiteicon="/sites/default/files/industries_icons/bridge-white.png" data-blackicon="/sites/default/files/industries_icons/bridge-black.png">
                                            <p class="top textdesc">商业 · 服务</p>
                                            <p class="bottom textdesc">SERVICES</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-xs-6 box colHalf row-1">
                                    <a href="/home/category/8" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/images/221311111-resize-400x385-62b794e7ca-f4290b69f9b922ba.jpeg" class="imgH hidden-xs" alt="">
                                        <img src="/static/images/221311111-resize-320x306-62b794e7ca-77320aac951d5c70.jpeg" class="imgH visible-xs-block" alt="">
                                    </a>
                                    <a href="/home/category/8" target="_blank" rel="noopener noreferrer">
                                        <div class="caption industry-icon" style="background-image: url(&quot;/sites/default/files/industries_icons/building-black.png&quot;);" data-whiteicon="/sites/default/files/industries_icons/building-white.png" data-blackicon="/sites/default/files/industries_icons/building-black.png">
                                            <p class="top textdesc">项目 · 案例</p>
                                            <p class="bottom textdesc">PROJECT CASE</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-xs-6 box colHalf row-1">
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/images/20200508112113-1-resize-400x385-be83c05313-f3d31082ff725de3.jpeg" class="imgH hidden-xs" alt="">
                                        <img src="/static/images/20200508112113-1-resize-320x306-be83c05313-9c9f267a0e8bd515.jpeg" class="imgH visible-xs-block" alt="">
                                    </a>
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <div class="caption industry-icon" style="background-image: url('/sites/default/files/industries_icons/ship-black.png');" data-whiteicon="/sites/default/files/industries_icons/ship-white.png" data-blackicon="/sites/default/files/industries_icons/ship-black.png">
                                            
                                            <p class="top textdesc">APP 下载</p>
                                            <p class="bottom textdesc">掌上商城</p>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-6 col-sm-4 col-xs-6 box colHalf row-1">
                                    <a href="/home/category/10" target="_blank" rel="noopener noreferrer">
                                        <img src="/static/images/12312312123123555555-resize-400x385-62b794e7ca-f4290b69f9b922ba.jpeg" class="imgH hidden-xs" alt="">
                                        <img src="/static/images/12312312123123555555-resize-320x306-62b794e7ca-77320aac951d5c70.jpeg" class="imgH visible-xs-block" alt="">
                                    </a>
                                    <a href="/home/category/10" target="_blank" rel="noopener noreferrer">
                                        <div class="caption industry-icon" style="background-image: url(&quot;/sites/default/files/industries_icons/support-black.png&quot;);" data-whiteicon="/sites/default/files/industries_icons/support-white.png" data-blackicon="/sites/default/files/industries_icons/support-black.png">
                                            <p class="top textdesc">联络我们</p>
                                            <p class="bottom textdesc">CONTACT US</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </component>
                </section> 


            </div>
            

        
        <el-footer>
            {include file="public/copyright" /} 
        </el-footer>
   
</div>
<script src="/static/js/http.js"></script>
<script>
    const url = "/manager/adminList"
    var app1 = new Vue({
        el: '#app',
        data: {
            currentDate: new Date()
        },
        created() {
            
        },
        methods: {
            
        }
    })

</script>

<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  
  
    .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  
  .el-main,.el-card{line-height: 14px !important; text-align:left}
  .el-col{padding-top: 10px; padding-bottom: 10px}
  
  .el-main, .el-card{height:360px}
  #price{font-size: 22px; line-height: 22px}
  .time{line-height: 18px}
  
</style>
<link rel="stylesheet" href="/static/css/style.css">
{include file="public/footer" /}
