{include file="public/header" /}
<div id="app">
    <el-container>
        <el-header>
            {include file="public/menu" /} 
        </el-header>
        <el-main>
           
            <el-row>
                <el-col>
                    <el-result icon="success" title="成功提示" subTitle="请根据提示进行操作">
                        <template slot="extra">
                            <el-link href="/home/order" type="primary" size="medium">查看订单</el-link>
                        </template>
                    </el-result>
                </el-col>
            </el-row>
            
        </el-main>
        
        <el-footer>&copy; Copyright 2022  All Rights Reserved</el-footer>
    </el-container>
</div>
<script src="/static/js/http.js"></script>
<script>
    const url = "/home/cart"
    var app1 = new Vue({
        el: '#app',
        data: {
            
        },
        created() {
            
        },
        methods: {
            
        }
    })

</script>

<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  
  
    .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
  
  .el-main,.el-card{line-height: 14px !important; text-align:left}
  .el-col{padding-top: 10px; padding-bottom: 10px}
  #captcha{height:40px;float:right}
  
  .el-descriptions-item__label:not(.is-bordered-label){padding:0px 10px; line-height: 40px}
</style>
{include file="public/footer" /}
